*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#main{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(/projects/Analog/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#iner{
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 50%;
    top: 20px;
    left: 200px;
    border: 10px solid ;
}
.p1{
    position: absolute;
    font-size: 45px;
    top: 10px;
    left: 170px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p2{
    position: absolute;
    font-size: 45px;
    top: 170px;
    right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p3{
    position: absolute;
    font-size: 45px;
    bottom: 10px;
    left: 180px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p4{
    position: absolute;
    font-size: 45px;
    left: 10px;
    top: 170px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p11{
    position: absolute;
    font-size: 25px;
    left: 35px;
    top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p12{
    position: absolute;
    font-size: 25px;
    left: 85px;
    top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p6{
    position: absolute;
    font-size: 25px;
    right: 35px;
    top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p5{
    position: absolute;
    font-size: 25px;
    right: 85px;
    top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p7{
    position: absolute;
    font-size: 25px;
    right: 35px;
    bottom: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p8{
    position: absolute;
    font-size: 25px;
    right: 85px;
    bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p10{
    position: absolute;
    font-size: 25px;
    left: 35px;
    bottom: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p9{
    position: absolute;
    font-size: 25px;
    left: 85px;
    bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div1{
    position: absolute;
    height:120px;
    width:2px;
    background-color: rgb(225, 42, 42);
    top:70px;
    left:193px;

    transform-origin: bottom center;
}

.div2{
    position: absolute;
    height:80px;
    width:7px;
    background-color:black;
    top:110px;
    left:190px;

    transform-origin: bottom center;
}

.div3{
    position: absolute;
    height:110px;
    width:4px;
    background-color:rgba(0, 0, 0, 0.845);
    top:85px;
    left:190px;

    transform-origin: bottom center;
}
.div4{
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    top: 180px;
    left: 180px;
}